@font-face {
    font-family: 'estedad';
    src:url('../fonts/Estedad-Regular.woff2') format('woff2'),
        url('../fonts/Estedad-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

